<!-- Fernanda Carolina Aguilera Abarca, exercício semanal 01-->

<!DOCTYPE html>
<html lang ="pt">

<head>
    <meta charset ="pt-br"/>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Atividade 01</title>
  </head>

  <body>

    <div class="titulo">
      <h2>Fatec Ipiranga - Cursos</h2>
    </div>

    <div class="logo">
      <img src="https://i.ibb.co/6ZTzFgn/logo-Menor.png"><br>
    </div>

    <div class="container">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Período</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td>Análise e Desenvolvimento de Sistemas</td>
            <td>Vespertino/Noturno</td>
          </tr>
          <tr>
            <td>Eventos</td>
            <td>Matutino</td>
          </tr>
          <tr>
            <td>Gestão Comercial</td>
            <td>Matutino/Noturno</td>
          </tr>
          <tr>
            <td>Recursos Humanos</td>
            <td>Noturno</td>
          </tr>
          <tr>
            <td>Gestão Empresarial</td>
            <td>EAD com provas presenciais</td>
          </tr>
        </tbody>
    </table>
  </div>
  </body>
</html>
